{% extends 'store/base.html' %}

{% block content %}

{% include 'store/navbar.html' %}
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
        <div class="col-md-4">
            <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <center>
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                {% if product.is_sales %}
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">HOT DEAL</div>
                <p class="card-text"><strike>${{product.price}}</strike>&nbsp${{product.sales_price}}</p>
                {% else %}
                <p class="card-text">${{product.price}}</p>
                {% endif %}
                <br>
                <a href="{% url 'store:home' %}" class="btn btn-secondary">Back</a>
                <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add to cart</button>
                </center>
            </div>
        </div>
        </div>
    </div>
</div>
<br>
<br><br><br><br><br><br><br><br><br><br>
<script>
    //check if add to cart button is clicked
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart:cart_add" product.id %}',
            data: {
                product_id: $('#add-cart').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action:'post'
            },
        success: function (json) {
            $('#cart-count').text(json.length)
            //console.log(json);
        },
        error: function (xhr, errmsg, err) {

        }
        });
    });
</script>
{% endblock %}